# .env.example
# ─────────────────────────────────────────
# Salin file ini menjadi .env.local lalu
# isi nilainya
#
# cp .env.example .env.local
# ─────────────────────────────────────────

# URL public website kamu
NEXT_PUBLIC_SITE_URL=https://srh.dev

# Contoh: kalau nanti pakai email service
# RESEND_API_KEY=